public/img/Dev_s/riqqueleat.png
public/img/ESCUDO COPA DAS PANELAS.png
public/img/header/campo.png
public/img/header/classificados.png
public/img/header/estatistica.png
public/img/header/instagram-removebg-preview.png
public/img/header/oitavas.png
public/img/header/rodadas.png
public/img/Juventus_FC_2017_logo.png
public/img/perfil_padrao_jogador.png
