header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background: linear-gradient(90deg, rgb(92, 0, 197), rgb(0, 0, 0));
    user-select: none;
    position: relative; 
}

#Icon {
    width: 100px;
    height: 200px;
    flex-shrink: 0;
    position:relative;
    left: 43%;
 
}

#Icon img {
    width: 200%;


}

.cadastro {
    font-size: 1.1em;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.cadastro a {
    text-decoration: none;
    color: white;
}

.cadastro a i {
    padding-right: 8px;
}

.cadastro:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.cadastro a:hover {
    color: rgb(12, 0, 187);
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {
    header {
        height: 70px;
        padding: 10px;
    }
    #titulo {
        font-size: 20px;
        }
    #Icon {
        width: auto;
        height: auto;
  
    }
    #titulo-container {
        font-size: 12px; 
        left: 50%;
        transform: translateX(-50%); 
    }
    .cadastro {
        font-size: 10px;
        padding: 0 !important;
        margin-right: 20px;
    }
    .menu-toggle {
        font-size: 18px !important;
        padding: 0;
    }
    .cadastro:hover {
        background-color: none;
        padding: none;
    }

    .cadastro a {
        padding: 10px 15px;
        font-size: 0.9em;
    }
}

/* NAVIGATION */
nav {
    width: 100%;
    background: linear-gradient(90deg, rgb(36, 2, 189), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 20px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

nav ul li ul.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(7, 0, 0);
    display: none;
    width: 200px;
    z-index: 999;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li {
    display: block;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(2, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

/* MENU TOGGLE BUTTON */
.menu-container {
    display: none; /* Oculta o botão em tamanhos maiores */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}
/* SLIDE */
.Slideshare {
    width: 100%;
    height: 650px;
    background-color: white;
}

.slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade {
    animation: fade 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}


