/* Reset básico */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
  }
  
  /* Corpo da página */
  body {
    background: radial-gradient(#281c3e,#0f051d);
    color: #E0E0E0; /* Texto claro */
    line-height: 1.6;
  }

  .titulohome {
    color: white;
    font-size: 40px;
    
  }

  /* Conteúdo principal */
  main {
    padding: 30px;
    max-width: 1200px;
    margin: 0px;
    margin-left: 70px;
  }
  

/* Responsivo */
@media (max-width: 768px) {
  .feature {
    min-height: 250px;
    justify-content: center;
    text-align: center;
  }

  .feature-texto {
    padding: 20px;
  }

  .feature-texto h2 {
    font-size: 2rem;
  }

  .feature-texto p {
    font-size: 1rem;
  }
}

  /* Rodapé */
  footer {
    background-color: #1F1B24;
    text-align: center;
    padding: 15px;
    color: #888;
    margin-top: 40px;
  }

