/* Reset básico */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	text-decoration: none;
  }
  
  /* Corpo da página */
  body {
    background: radial-gradient(#281c3e,#0f051d);
    color: #E0E0E0; /* Texto claro */
    line-height: 1.6;
  }

  .titulohome {
    color: white;
    font-size: 40px;
    
  }

  
  /* Conteúdo principal */
  main {
    padding: 30px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* Cards de notícia */
  .news-card {
    background-color: #1E1E1E;
    border-left: 4px solid #7B1FA2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .news-card:hover {
    transform: translateY(-5px);
    background-color: #252525;
  }
  
  .news-card h2 {
    color: #E1BEE7;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .news-card h2 a {
    color: #E1BEE7;
    text-decoration: none; /* opcional, remove o sublinhado */
  }
  
  .news-card h2 a:hover {
    text-decoration: underline; /* opcional, adiciona efeito ao passar o mouse */
  }


  .news-card p {
    color: #BDBDBD;
  }

  /* Rodapé */
  footer {
    background-color: #1F1B24;
    text-align: center;
    padding: 15px;
    color: #888;
    margin-top: 40px;
  }

  /* Responsivo */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  
    nav a {
      margin: 10px 0;
    }
}
