/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}

/* Corpo da página */
body {
    background: radial-gradient(#281c3e, #0f051d);
    color: #E0E0E0;
    line-height: 1.8;
    padding-top: 9rem;
}

/* Título */
h1#dynamic-text {
    color: white;
    font-size: 40px;
    text-align: center;
}

#editable {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.formulario {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Courier, monospace;
    text-align: left;
    min-width: 36%;
    max-width: 60%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(123, 31, 162, 0.6);
}

label {
    font-size: 20px;
    margin: 5px 0 5px 14px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="date"],
select {
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border: 1px solid #1E1E1E;
    background-color: #1a1a1a;
    color: white;
    width: 100%;
}

input[type="submit"] {
    background-color: #c60909;
    color: #fff;
    border: 1px solid #1E1E1E;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 25px;
}

#imagem-preview {
    max-width: 20%;
    height: auto;
    display: none;
}

.error-message {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}
.error-message.visible {
    display: block;
}
.success-message {
    display: none;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
}
.success-message.visible {
    display: block;
}
